:root {
  --primary-color: #667eea;
  --secondary-color: #6c757d;
}
* {
  font-family: "Cairo", sans-serif;
  direction: rtl;
  outline-color: var(--primary-color);
  color: var(--primary-color);
}

/* Start Matches Page ( Mahmoud Abdou ) */
.matches-page h1 {
  color: var(--primary-color);
}

.filters h3 {
  color: var(--primary-color);
}

.filters h3 svg {
  border-left: 2px solid var(--primary-color);
}

button {
  outline: none;
  background-color: transparent;
}

.filters .row #filter-btn {
  border-color: var(--primary-color);
}

.filters .row #filter-btn:hover {
  background-color: var(--primary-color);
  color: white;
}

.filters .row #reset-btn {
  border-color: var(--secondary-color);
  color: var(--secondary-color);
}

.filters .row #reset-btn:hover {
  background-color: var(--secondary-color);
  color: white;
}

.match-card span > img {
  width: 32px; /* حجم ثابت */
  height: 32px; /* نفس العرض عشان يفضل مربع */
  object-fit: contain; /* يخلي الصورة مظبوطة جوه المربع */
}

/* End Matches Page ( Mahmoud Abdou ) */
