@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;600;700&display=swap");

:root {
  --primary-color: #667eea;
  --secondary-color: #764ba2;
}
* {
  font-family: "Cairo", sans-serif;
  direction: rtl;
}

/* Start Matches Page ( Mahmoud Abdou ) */
.matches-page h1 {
  color: var(--primary-color);
}

.filters h3 svg {
  color: var(--primary-color);
  border-left: 1px solid var(--primary-color);
}
/* End Matches Page ( Mahmoud Abdou ) */
