:root {
  --primary-color: #667eea;
  --secondary-color: #495057;
}
* {
  font-family: "Cairo", sans-serif;
  direction: rtl;
  outline-color: var(--primary-color);
  color: var(--primary-color);
  user-select: none;
}

.cursor-pointer {
  cursor: pointer;
}

/* Start Matches Page ( Mahmoud Abdou ) */
.matches-page h1 {
  color: var(--primary-color);
}

.filters h3 {
  color: var(--primary-color);
}

.filters h3 svg {
  border-left: 2px solid var(--primary-color);
}

button {
  outline: none;
  background-color: transparent;
}

.filters .row #filter-btn {
  border-color: var(--primary-color);
}

.filters .row #filter-btn:hover {
  background-color: var(--primary-color);
  color: white;
}

.filters .row #reset-btn {
  border-color: var(--secondary-color);
  color: var(--secondary-color);
}

.filters .row #reset-btn:hover {
  background-color: var(--secondary-color);
  color: white;
}

.match-card {
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.match-card:hover {
  transform: translateY(-5px) scale(1.02);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
  border-color: #0d6efd; /* لون أزرق فاتح */
}

.match-card span > img {
  width: 32px; /* حجم ثابت */
  height: 32px; /* نفس العرض عشان يفضل مربع */
  object-fit: contain; /* يخلي الصورة مظبوطة جوه المربع */
}

/* End Matches Page ( Mahmoud Abdou ) */
